<form
  nz-form
  [formGroup]="noteForm"
  [nzLayout]="'inline'"
  (ngSubmit)="onSubmit()"
>
  <nz-form-item style="flex: auto">
    <nz-form-control>
      <input formControlName="body" nz-input placeholder="Take a note ..." />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button
        nz-button
        nzType="primary"
        type="submit"
        [disabled]="!noteForm.valid"
      >
        Save
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
